body {
    margin: 0px;
}

.navbar {
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
}

.navbar ul {
    justify-content: space-evenly;
    display: flex;
    list-style: none;
}

.navbar ul li {
    padding: 10px;
}

.navbar ul li a {
    font-size: large;
    text-decoration: none;
    color: #0e0c1c;
}

.brand {
    /* color: #fff; */
    text-align: center;
    margin: auto 0;
    flex-grow: 1;
    font-weight: 700;
    font-size: x-large;
    font-family: cursive;
    /* margin: auto 15px;
    padding: 0 15px; */
}

.active {
    background-color: #ae4c76;
    border-radius: 5px;
}

.active a {
    color: #fff !important;
}

.nav {
    flex-grow: 7;
}

.social {
    display: flex;
    flex-grow: 2;
    justify-content: space-evenly;
    align-items: center;
}

#band,
#tour,
#contact {
    max-width: 50vw;
    margin: auto;
    padding: 70px 0px;
    text-align-last: center;
    transition: all 1s ease-in-out;
}

.head h2 {
    text-transform: uppercase;
    letter-spacing: 0.6vw;
    font-size: xx-large;
}

.caption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #47a47c81;
}

.intro p {
    text-align: justify;
    text-align-last: auto;
}

.multiple-bands {
    display: flex;
    justify-content: space-between;
}

.loc-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.locations {
    display: flex;
    justify-content: space-evenly;
}

.date {
    font-family: cursive;
}

.btn {
    margin: 0 auto;
    padding: 8px;
    border-color: #0e0c1c00;
    border-radius: 5px;
    background-color: #e7e9cd;
}

.contact {
    display: grid;
    /* width: 50%; */
}

.address {
    text-align-last: start;
    flex-grow: 3;
}

.form {
    grid-column-start: 2;
    grid-column-end: 4;
    /* width: 100%; */
    padding: 10px;
}

.form-field {
    margin: 3px;
}